*{
    margin: 0%;
    font-size: 16px;
}

body{
    background : url(bg23.png);
    background-size: cover;
    background-position: 0 -130px;
    
}

.sidegif{
    width: 600px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: calc(5% - 90px);
}

.emo{
 height: 1000px;
 width: 1000px;
}


.center{

    border: 15px solid whitesmoke;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2.5vh 5px;
}

.emotion-header{
    font-size: 3rem;
	color: white;
    margin: 5vh 0;
}

.select-another {
    margin: 5vh 0;
}

.upload-form{
	
    margin: 2.5vh 0;
}

.input-file{
    margin:0 5%;
}

.submit-btn{
    margin-top: 2.5%;
}