<html>
<head>
    <title> About Us </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/a_style.css">   
</head>
    <body>
        <div class="bg-div">
            <nav class=" navbar navbar-expand-lg fixed-top " style= "background: rgba(0, 0, 0, 0.7);overflow: hidden;height: 60px;">
                <img class="navbar-brand" src="../static/logo.png" width="200" height="35" ALT="align box" ALIGN=CENTER style="margin: 18px 15px 15px 10px;" >
                <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-3" style="color:white;"><a href="{{url_for('home')}}" style="color:white;">Home</a></li>
            <li class="nav-item ml-3" style="color:white;"><a href="{{url_for('about')}}" style="color:white;">About Us</a></li>
            <li class="nav-item ml-3" style="color:white;"><a href="{{url_for('contact')}}" style="color:white;">Contact Us</a></li>
            </ul>
            </nav>
        </div>


    
    <div class="login-box">
        
        <h2>About Us</h2>
        <h3> Team Members <br>
		SAURABH AJIT <br>
TANISHQ BALUAPURI<br>
SUMIT KUMAR BHARDWAJ<br>
ASHUTOSH CHOUBEY<br>
MUKUL MISHRA <br>
<br>
    Under the Guidance of<br>
Prof. SWARNALATA BOLLAVARAPU<br>
<br>
MBA Tech.<br> 
   	    	COMPUTER ENGINEERING <br>
At <br>
<br>
MUKESH PATEL SCHOOL OF TECHNOLOGY <br>
MANAGEMENT & ENGINEERING<br>

<h3>   
        
        
        </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>