

<html>
<head>
    <title> Login Form </title>
    <link rel="stylesheet" type="text/css" href="style.css">   
</head>
    <body>


    <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#prototype">Prototype</a>
  <a href="#contact">Contact Us</a>
  <a href="#about">About Us</a>
    </div>


    
    <div class="login-box">
    <img src="g.gif" class="avatar">
        
        <h2>LOGIN</h2>
            <form action="test.html" method = "POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
	    
            <input type="submit" name="submit" value="Login">
            <a href="https://www.google.com">Forgot Password?</a><br><br> 
	    <a href="signup.html">New to SER? Click to Sign Up</a>    
            </form>
        
        
        </div>
    
    </body>
</html>